* {
  margin: 0;
  padding: 0%;
}
.heading img {
  height: 150px;
  margin: auto;
  display: block;
}
.heading h2 {
  text-align: center;
  padding: 2% 0;
  text-decoration: underline;
}
.heading h6 {
  text-align: center;
  text-decoration: underline;
}
#contact2 {
  margin: 0 10% !important  ;
  background-color: #f3f4ed;
  border-radius: 20px;
}
.btn {
  margin: 2% 45%;
  padding: 1px 50px;
}
